@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1>Get To Know Joel!</h1>
<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate.jpg" />
</a>
<br />
<a href="https://baconsale.com/">Bacon Sale</a>
<br />
<a href="https://www.qwcomedy.com/">Quick Wits</a>